
			</div>
			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<a href="?p=terms">Terms & Conditions</a> |
					<a href="#"><b>ixian</b>pool</a>
				</div>
				<a href="https://ixian.io">ixian.io</a> | <a href="https://discord.gg/P493UN9">discord</a> | <a href="https://twitter.com/ixian_IO">twitter</a> | 
				<a href="https://www.reddit.com/r/ixian">reddit</a> | <a href="https://github.com/ProjectIxian/">github</a>
			</footer>
		</div>
	</body>
</html>
